<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-1">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="row">
      <div class="col-sm-12 .col-md-12 col-12 col-lg-2 ventes">
          <app-vent-card></app-vent-card>
          <app-vent-card></app-vent-card>
      </div>
      <div class="col-sm-12  .col-md-12 col-lg-10 col-12 article">
        <div class="container">

          <div class="row headerLink">
            <div class="col-sm col-12"><a routerLink="article-list" routerLinkActive="activer" >Liste des articles</a></div>
            <div class="col-sm col-12"><a routerLink="new-article" routerLinkActive="activer" >Nouveau article</a></div>
            <div class="col-sm col-12"><a routerLink="new-cathegorie" routerLinkActive="activer" >Nouvelle catégorie</a></div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
