
.new-article{
  margin: 2px;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  height: 307px;
  top: 90px;
  border-radius: 25px;
  margin-left: 56px;
}

.new-article .new-article-header{
  background: #242526;
  height: 35px;
  color: #FCBC02;
  padding: 3px 0px 0px 30px;
  font-size: x-large;
  border-radius: 25px 25px 0px 0px;
}

.new-article-body{
  position: relative;
  top: 23px;
}
mat-form-field {
  width: 100%;
}

form .article-input{
  font-size: 12px;

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 13px;
}
