<div class="mat-elevation-z8 new-article">
  <div class="new-article-header">
       <mat-icon aria-hidden="false">add</mat-icon> Ajouter un nouveau article
  </div>
  <div class="new-article-body">
       <div class="container-fluid page">
          <form class="example-form">
              <div class="row">
                  <div class="article-input col-sm-5">
                    <mat-form-field appearance="outline">
                      <mat-label>Référence</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                  </div>
                  <div class="article-input col-sm-7">
                    <mat-form-field appearance="outline">
                      <mat-label>Désignation</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                  </div>
                  <div class="article-input col-sm-5">
                    <mat-form-field appearance="outline">
                      <mat-label>Prix unitaire de référence</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                  </div>
                  <div class="article-input col-sm-7">
                    <mat-form-field appearance="outline">
                      <mat-label>Date de conservation</mat-label>
                      <input matInput type="date" placeholder="Placeholder">
                    </mat-form-field>
                  </div>
                  <div class="article-input col-sm-5">
                    <mat-form-field appearance="outline">
                      <ngx-mat-file-input formControlName="basicfile" placeholder="Basic Input" ></ngx-mat-file-input>
                      <mat-icon matSuffix>folder</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="article-input col-sm-7">
                    <mat-form-field appearance="outline">
                      <mat-label>Désignation</mat-label>
                      <input matInput placeholder="Placeholder">
                    </mat-form-field>
                  </div>
              </div>
          </form>
       </div>
  </div>
</div>

